$appFont: "Nunito", sans-serif;
$appBlack: #002f40;
$appRed: rgb(253, 88, 83);
$appGreen: rgb(96, 188, 192);
$appOrange: #ff9a00;
$appGrey: #a4b3ca;
$appGrey2: #677385;
$appLightGrey: #f8f9fa;
$appLightGrey2: #cfd3d6;
$appYellow: #ffffeb;

$appTransition: all 0.4s;

$appBoxShadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

$appBorderRadius: 3px;
$zindexHeader: 400;
